*.class

# Package Files #
*.jar
*.war
*.ear
/target/
/classes/

# Eclipse (STS) project configuration files
/.settings/
/.classpath
/.project
/.factorypath

# IDEA workspace/project configuration files
/*.iml
/.idea/*.iml
/.idea/*.xml
/.idea/artifacts/
/.idea/codeStyles/
/.idea/dictionaries/
/.idea/dataSources/
/.idea/inspectionProfiles/
/.idea/libraries/

# Visual Studio Code configuration files
/.vscode

# Other files
/doc/
/logs/
/*_IS_UNDEFINED/
/out/
