*.class

# Package Files #
*.jar
*.war
*.ear
/target/
/classes/

### Eclipse (STS) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iml
/.idea/*
!/.idea/copyright
!/.idea/scopes

# Visual Studio Code
/.vscode

# Other Files
/doc/
/logs/
/*_IS_UNDEFINED/
/out/
