server:
  tomcat:
    accesslog:
      enabled: true
      directory: ${app.path}/log
      max-days: 5
    threads:
      max: 1500
      min-spare: 200
    max-http-form-post-size: 20MB
    uri-encoding: UTF-8
    max-connections: 8192
    accept-count: 1000
    processor-cache: 2000
    connection-timeout: 20s
  undertow: # configure Undertow 2018-01-30 11:10:17
    max-http-post-size: 20MB
    buffer-size: 10KB
    # 是否分配直接内存（NIO直接分配的堆外内存）
    direct-buffers: true
    eager-filter-init: true
    accesslog:
      enabled: true
      dir: ${app.path}/log
    threads:
      io: 4
      worker: 32

spring:
  lifecycle:
    timeout-per-shutdown-phase: 30s  # 停止服务等待时间
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    property-naming-strategy: tools.jackson.databind.PropertyNamingStrategies.LowerCamelCaseStrategy
    serialization:
      fail-on-empty-beans: true
    deserialization:
      fail-on-unknown-properties: false
    mapper:
      use-getters-as-setters: true
    json:
      read:
        # 允许出现单引号
        allow-single-quotes: true
        # 允许出现特殊字符和转义符
        allow-unescaped-control-chars: true
        # 自动处理反斜线
        allow-backslash-escaping-any-character: true
    default-property-inclusion: non_null
    time-zone: Asia/Shanghai    # 使用 GMT+8 需要更多地解析
    locale: zh_CN
  # 设置上传文件大小 MultipartProperties
  servlet:
    multipart:
      enabled: true
      max-file-size: 2MB
      max-request-size: 20MB
    encoding:
      charset: UTF-8
      force: true
  jmx:
    enabled: true
    default-domain: org.springframework.boot
