<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright 2008-2019 the original author or authors.
 ~
 ~ Licensed under the Apache License, Version 2.0.
 ~ See `LICENSE` in the project root for license information.
 -->

<!--
  LogBack 配置：Pattern 等
  参考：org/springframework/boot/logging/logback/defaults.xml
  -->

<included>
    <!-- org/springframework/boot/logging/logback/console-appender.xml -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{HH:mm:ss.SSS} %5p %clr(${PID:- }){magenta} %clr(-){faint} %clr([%15.15t]){faint} [%logger{0}] %m%n"/>

    <!-- org/springframework/boot/logging/logback/file-appender.xml -->
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } - [%t] [%logger{0}] %m%n"/>

    <logger name="sun.rmi.transport.tcp" level="ERROR"/>
    <logger name="sun.rmi.loader" level="ERROR"/>
    <logger name="sun.rmi.server.call" level="ERROR"/>

    <logger name="org.springframework.boot.autoconfigure.logging" level="ERROR"/>

    <logger name="me.ijleex.dev" level="DEBUG"/>

</included>
