<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2011-2021 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0.
  ~ See `LICENSE` in the project root for license information.
  -->

<!--
  Logback 配置：Pattern 等
  参考： org/springframework/boot/logging/logback/defaults.xml
        https://logback.qos.ch/manual/layouts.html#conversionWord
  -->

<included>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- 按包名区分日志级别 -->
    <logger name="sun.rmi.transport.tcp" level="ERROR"/>
    <logger name="sun.rmi.loader" level="ERROR"/>
    <logger name="sun.rmi.server.call" level="ERROR"/>

    <logger name="org.springframework.boot.autoconfigure.logging" level="ERROR"/>
    <logger name="com.zaxxer.hikari.pool" level="ERROR"/>

    <!-- 级别排序：TRACE < DEBUG < INFO < WARN < ERROR -->
    <logger name="me.ijleex.dev" level="DEBUG"/>

</included>
