<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2008-2019 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0.
  ~ See `LICENSE` in the project root for license information.
  -->

<configuration scan="false" scanPeriod="10 seconds" debug="false">

    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" scope="CONTEXT"/>

    <!--
        org.springframework.boot.logging.AbstractLoggingSystem#initialize
        -->

    <property name="LOG_FILE" value="logs/ijleex-boot.log"/>
    <property name="LOG_FILE_MAX_SIZE" value="10MB"/>
    <property name="LOG_FILE_MAX_HISTORY" value="10"/>
    <property name="LOG_TOTAL_SIZE_CAP" value="3GB"/>

    <include resource="logback-defaults.xml"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- 开发、测试环境 -->
    <springProfile name="default,dev,test">
        <logger name="org.apache.ibatis" level="DEBUG"/>
        <logger name="org.mybatis" level="DEBUG"/>
        <logger name="org.springframework" level="DEBUG"/>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prod">
        <logger name="org.apache.ibatis" level="WARN"/>
        <logger name="org.mybatis" level="WARN"/>
        <logger name="org.springframework" level="WARN"/>
    </springProfile>

    <!-- root logger 默认级别是 DEBUG -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
