[user]
	name = liym@home
	email = ijliym@163.com
[core]
	autocrlf = input
	safecrlf = warn
	whitespace = cr-at-eol
	longpaths = true
[i18n]
	commitencoding = utf-8
[push]
	default = simple
[svn]
	pathnameencoding = utf-8
[log]
	date = iso-local
[gui]
	encoding = utf-8
