/**
 * select readonly 的实现改为在 select 组件上添加一个 readonly 样式，而不是添加一个属性。
 *
 * readonly="readonly" ==> class="readonly"
 */
select.readonly {
    background: #eee;
    cursor: default;
    pointer-events: none;
}

select.readonly > option {
    display: none;
}
