<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <title th:text="${title}"></title>
    <link rel="icon shortcut" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-table/bootstrap-table.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-OpenSans.css}"/>
    <link rel="stylesheet" th:href="@{/css/select-readonly.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<div th:fragment="footer">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/webjars/vue/vue.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-table/bootstrap-table.js}"></script>
    <script th:src="@{/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
    <script th:src="@{/js/bootstrap-table-util.js}"></script>
    <script th:inline="javascript">const ctxPath = [[@{/}]];</script>
</div>

