<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2008-2019 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0.
  ~ See `LICENSE` in the project root for license information.
  -->

<configuration debug="false">

    <include resource="logback-defaults.xml"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
