<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" packagingData="false" scan="false" scanPeriod="10 seconds">

    <property name="LOG_DATEFORMAT_PATTERN" value="HH:mm:ss.SSS"/>

    <include resource="logback-defaults.xml"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
