<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2011-2021 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0.
  ~ See `LICENSE` in the project root for license information.
  -->

<configuration scan="false" scanPeriod="10 seconds" debug="false">

    <property name="LOG_DATEFORMAT_PATTERN" value="HH:mm:ss.SSS"/>

    <include resource="logback-defaults.xml"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
